.DS_Store
__pycache__
bin/
lib/
lib64
include/
pyvenv.cfg
.env
metrics_data*
metricsdb
users.db
pg_data/
out_dir/
input.json
test_data/
upload.log
output/
sites_data/
allowed_emails.txt
ci_retain_data/
ci_retain_data_*/
logs/
mock_pres_data/